.case {
    &__container {
        position: relative;
        grid-template-columns: 1fr 1.5fr;
    }

    &__data {
        padding: 3rem 0 3rem;
    }

    &__img {
        width: 250px;
        position: absolute;
        left: -9rem;
    }

    &__description {
        margin-bottom: var(--mb-1-5);
        line-height: var(--text-line-height);
    }

    @include responsive(319, 1) {
        &__container {
            grid-template-columns: 0.6fr 1fr;
        }
        &__img {
            width: 220px;
            top: -2rem;
        }
        &__data {
            padding: 0;
        }
    }

    @include responsive(480, 0) {
        &__container {
            grid-template-columns: max-content 1fr;
            column-gap: 1rem;
            align-items: center;
            justify-content: center;
        }
        & figure {
            justify-self: flex-end;
        }
        &__img {
            position: initial;
        }
    }

    @include responsive(576, 0) {
        &__container {
            grid-template-columns: max-content 250px;
            column-gap: 2rem;
            align-items: center;
            justify-content: center;
        }
        & figure {
            justify-self: flex-end;
        }
        &__img {
            position: initial;
        }
        &__data {
            padding: 0;
        }
    }

    @include responsive(768, 0) {
        &__container {
            column-gap: 3rem;
        }
        &__img {
            width: 300px;
        }
        &__description {
            margin-bottom: var(--mb-2);
        }
    }
}
