.discount {
    &__container {
        position: relative;
        background-color: var(--container-color);
        padding: 2rem 1.5rem;
        @include radius(0.75rem);
    }

    &__title {
        font-size: var(--h3-font-size);
        margin-bottom: var(--mb-0-75);
    }

    &__description {
        margin-bottom: var(--mb-1);
    }

    &__image {
        width: 300px;
        position: absolute;
        top: 4rem;
        right: -12rem;
    }
    @include responsive(460, 0) {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
        }

        &__image {
            position: initial;
        }
    }
    @include responsive(576, 0) {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
        }

        &__image {
            position: initial;
        }
    }

    @include responsive(768, 0) {
        &__container {
            grid-template-columns: 250px max-content;
            justify-content: center;
            column-gap: 2rem;
        }

        &__title {
            font-size: var(--h2-font-size);
            margin-bottom: var(--mb-1);
        }

        &__description {
            margin-bottom: var(--mb-1-5);
        }
    }

    @include responsive(1024, 0) {
        &__container {
            padding: 3rem 1.5rem;
        }
        &__image {
            width: 350px;
        }
    }
}
