.footer {
    &__container {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        row-gap: 2rem;
    }

    &__logo {
        width: 2rem;
    }

    &__title {
        font-size: var(--h2-font-size);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-1);
    }

    &__links {
        display: grid;
        row-gap: 0.5rem;
    }

    &__link {
        color: var(--text-color);

        &:hover {
            color: var(--white-color);
        }
    }

    &__form {
        display: flex;
        background-color: var(--container-color);
        padding: 0.5rem 0.75rem;
        @include radius(0.5rem);
        margin-bottom: var(--mb-2);
    }

    &__input {
        background-color: var(--container-color);
        width: 90%;
        margin-right: 0.5rem;
        color: var(--white-color);

        &::placeholder {
            color: var(--text-color);
            font-size: var(--normal-font-size);
            font-family: var(--body-font);
        }
    }

    &__social {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        column-gap: 1.25rem;

        &-link {
            display: inline-flex;
            padding: 0.5rem;
            color: var(--white-color);
            background-color: var(--container-color);
            font-size: 1.2rem;
            @include radius(0.25rem);

            &:hover {
                background-color: var(--black-color);
            }
        }
    }

    &__copy {
        text-align: center;
        margin-top: 2.5rem;
        font-size: var(--small-font-size);
        color: var(--text-color);
    }
    @include responsive(576, 0) {
        &__container {
            grid-template-columns: 1fr 1fr;
        }
    }
    @include responsive(768, 0) {
        &__container {
            grid-template-columns: 0.2fr 0.5fr 0.5fr 1fr;
        }
    }
    @include responsive(1024, 0) {
        &__container {
            padding: 3rem 0;
        }
    }
}
