.home {
    &__img {
        width: 250px;
        position: absolute;
        top: -17rem;
        left: 50%;
        opacity: 0.8;
        z-index: -100;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    &__data {
        padding-top: 13rem;
    }

    &__header {
        display: none;
        position: relative;
    }

    &__title {
        // position: absolute;
        // top: -4rem;
        // left: 1rem;
        line-height: 6rem;
        font-size: var(--biggest-font-size);
        background: var(--text-gradient);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;

        &-description {
            font-size: 2rem;
            font-weight: var(--font-medium);
            margin-bottom: var(--mb-0-5);
        }
    }

    &__subtitle {
        font-size: var(--big-font-size);
        margin-bottom: var(--mb-1);
    }

    &__description {
        margin-bottom: var(--mb-1-5);
        line-height: var(--text-line-height);
    }

    &__price {
        font-size: var(--h3-font-size);
        font-weight: var(--font-semi-bold);
        margin-left: var(--mb-0-75);
    }

    @include responsive(319, 1) {
        &__img {
            width: 200px;
            top: -13rem;
        }
        &__data {
            padding-top: 10rem;
        }
        &__description {
            font-size: var(--small-font-size);
        }
    }

    @include responsive(576, 0) {
        &__container {
            grid-template-columns: 0.8fr 1fr;
            gap: 1rem;
        }
        &__header {
            display: initial;
        }
        & figure {
            justify-self: center;
            transform: translateY(-10rem);
            -webkit-transform: translateY(-10rem);
            -moz-transform: translateY(-10rem);
            -ms-transform: translateY(-10rem);
            -o-transform: translateY(-10rem);
        }
        &__img {
            position: initial;
            top: 0;
            left: 0;
            transform: translateX(0);
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
        }
        &__data {
            padding-top: 0;
        }
    }

    @include responsive(768, 0) {
        &__container {
            grid-template-columns: 1fr 1fr;
        }
        & figure {
            transform: translateY(-7rem);
            -webkit-transform: translateY(-7rem);
            -moz-transform: translateY(-7rem);
            -ms-transform: translateY(-7rem);
            -o-transform: translateY(-7rem);
        }

        &__data {
            padding-top: 5rem;
        }
    }

    @include responsive(1024, 0) {
        &__img {
            width: 300px;
        }
        & figure {
            transform: translateY(-14rem);
            -webkit-transform: translateY(-14rem);
            -moz-transform: translateY(-14rem);
            -ms-transform: translateY(-14rem);
            -o-transform: translateY(-14rem);
        }

        &__data {
            padding-top: 7rem;
        }
    }
}
