.specs {
    &__container {
        position: relative;
    }

    &__content {
        row-gap: 1.5rem;
    }

    &__data {
        display: grid;
        row-gap: 0.25rem;

        &:first-child,
        &:last-child {
            margin-left: var(--mb-1-5);
        }
    }

    &__icon {
        font-size: 1.2rem;
        color: var(--white-color);
    }

    &__title {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
    }
    &__subtitle {
        font-size: var(--smaller-font-size);
    }

    &__img {
        width: 250px;
        position: absolute;
        top: 50%;
        right: -8rem;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }

    @include responsive(319, 1) {
        &__img {
            width: 230px;
        }
    }
    @include responsive(390, 0) {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
        }
        & figure {
            justify-self: flex-start;
        }
        &__img {
            position: initial;
            top: 0;
            right: 0;
            transform: translateY(0%);
            -webkit-transform: translateY(0%);
            -moz-transform: translateY(0%);
            -ms-transform: translateY(0%);
            -o-transform: translateY(0%);
        }
    }

    @include responsive(576, 0) {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;
        }
        & figure {
            justify-self: flex-start;
        }
        &__img {
            position: initial;
            top: 0;
            right: 0;
            transform: translateY(0%);
            -webkit-transform: translateY(0%);
            -moz-transform: translateY(0%);
            -ms-transform: translateY(0%);
            -o-transform: translateY(0%);
        }
        &__data {
            &:first-child,
            &:last-child {
                margin-left: var(--mb-2);
            }
        }
    }

    @include responsive(768, 0) {
        &__img {
            width: 300px;
        }
    }
}
