*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

::-webkit-scrollbar {
    width: 0.6rem;
    @include radius(0.5rem);

    &-thumb {
        background-color: var(--scroll-thumb-color);
        @include radius(0.5rem);

        &:hover {
            background-color: var(--scroll-thumb-color-alt);
        }
    }
}

@include responsive(768, 0) {
    body {
        margin: 0;
    }
}
