@mixin responsive($breakpoint, $type) {
    @if ($type == 1) {
        @media screen and (max-width: $breakpoint * 1px) {
            @content;
        }
    }
    @if ($type == 0) {
        @media screen and (min-width: $breakpoint * 1px) {
            @content;
        }
    }
}

@mixin radius($amount) {
    border-radius: $amount;
    -webkit-border-radius: $amount;
    -moz-border-radius: $amount;
    -ms-border-radius: $amount;
    -o-border-radius: $amount;
}

@mixin transition($amount) {
    transition: $amount;
    -webkit-transition: $amount;
    -moz-transition: $amount;
    -ms-transition: $amount;
    -o-transition: $amount;
}
