:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue-color: 206;
  --black-color: hsl(var(--hue-color), 4%, 4%);
  --black-color-alt: hsl(var(--hue-color), 4%, 8%);
  --title-color: hsl(var(--hue-color), 4%, 95%);
  --text-color: hsl(var(--hue-color), 4%, 75%);
  --text-color-light: hsl(var(--hue-color), 4%, 65%);
  --white-color: #fff;
  --body-color: hsl(var(--hue-color), 4%, 6%);
  --container-color: hsl(var(--hue-color), 4%, 10%);
  --text-gradient: linear-gradient(hsl(var(--hue-color), 4%, 24%), hsl(var(--hue-color), 4%, 8%));
  --scroll-thumb-color: hsl(var(--hue-color), 4%, 16%);
  --scroll-thumb-color-alt: hsl(var(--hue-color), 4%, 20%);
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 5rem;
  --bigger-font-size: 3.5rem;
  --big-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --text-line-height: 2rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margin Bottom ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 7.5rem;
    --bigger-font-size: 4.5rem;
    --big-font-size: 4rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-thumb-color-alt);
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
}
.section {
  padding: 4rem 0 2rem;
}
.section__title {
  font-size: var(--bigger-font-size);
  text-align: center;
  margin-bottom: var(--mb-2-5);
}
.section__title-gradient {
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media screen and (max-width: 319px) {
  .section__title {
    font-size: var(--big-font-size);
  }
}

.main {
  overflow: hidden;
}

.container {
  max-width: 968px;
  margin: 0 var(--mb-1-5) 0;
}
@media screen and (max-width: 319px) {
  .container {
    margin: 0 var(--mb-1) 0;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin: 0 auto;
  }
}

.grid {
  display: grid;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 1.5rem;
}
.nav__toggle {
  font-size: 1.2rem;
  color: var(--white-color);
  cursor: pointer;
}
.nav__list {
  display: grid;
  grid-template-rows: repeat(4, -webkit-max-content);
  grid-template-rows: repeat(4, max-content);
  row-gap: 1rem;
  justify-items: center;
}
.nav__link {
  font-size: var(--h2-font-size);
  text-transform: uppercase;
  font-weight: var(--font-semi-bold);
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.nav__link:hover {
  background: var(--white-color);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.nav__close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
  color: var(--white-color);
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0 3rem;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__logo {
    width: 2rem;
  }
  .nav__list {
    display: flex;
  }
  .nav__link {
    font-size: var(--normal-font-size);
    text-transform: initial;
  }
  .nav__item:not(:last-child) {
    margin-right: 3rem;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
}

.show-menu {
  top: 0;
}

.scroll-header {
  background-color: var(--body-color) !important;
}

.active-link {
  background: var(--white-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.home__img {
  width: 250px;
  position: absolute;
  top: -17rem;
  left: 50%;
  opacity: 0.8;
  z-index: -100;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.home__data {
  padding-top: 13rem;
}
.home__header {
  display: none;
  position: relative;
}
.home__title {
  line-height: 6rem;
  font-size: var(--biggest-font-size);
  background: var(--text-gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.home__title-description {
  font-size: 2rem;
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}
.home__subtitle {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-1);
}
.home__description {
  margin-bottom: var(--mb-1-5);
  line-height: var(--text-line-height);
}
.home__price {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-left: var(--mb-0-75);
}
@media screen and (max-width: 319px) {
  .home__img {
    width: 200px;
    top: -13rem;
  }
  .home__data {
    padding-top: 10rem;
  }
  .home__description {
    font-size: var(--small-font-size);
  }
}
@media screen and (min-width: 576px) {
  .home__container {
    grid-template-columns: 0.8fr 1fr;
    gap: 1rem;
  }
  .home__header {
    display: initial;
  }
  .home figure {
    justify-self: center;
    transform: translateY(-10rem);
    -webkit-transform: translateY(-10rem);
    -moz-transform: translateY(-10rem);
    -ms-transform: translateY(-10rem);
    -o-transform: translateY(-10rem);
  }
  .home__img {
    position: initial;
    top: 0;
    left: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
  .home__data {
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .home__container {
    grid-template-columns: 1fr 1fr;
  }
  .home figure {
    transform: translateY(-7rem);
    -webkit-transform: translateY(-7rem);
    -moz-transform: translateY(-7rem);
    -ms-transform: translateY(-7rem);
    -o-transform: translateY(-7rem);
  }
  .home__data {
    padding-top: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .home__img {
    width: 300px;
  }
  .home figure {
    transform: translateY(-14rem);
    -webkit-transform: translateY(-14rem);
    -moz-transform: translateY(-14rem);
    -ms-transform: translateY(-14rem);
    -o-transform: translateY(-14rem);
  }
  .home__data {
    padding-top: 7rem;
  }
}

.button {
  display: inline-block;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.button:hover {
  background-color: var(--black-color-alt);
}
.button__icon {
  font-size: 1.2rem;
}
.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.sponsor__container {
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  row-gap: 5rem;
  justify-items: center;
  align-items: center;
}
.sponsor__img {
  width: 90px;
}
@media screen and (min-width: 1024px) {
  .sponsor__img {
    width: 100px;
  }
}

.specs__container {
  position: relative;
}
.specs__content {
  row-gap: 1.5rem;
}
.specs__data {
  display: grid;
  row-gap: 0.25rem;
}
.specs__data:first-child, .specs__data:last-child {
  margin-left: var(--mb-1-5);
}
.specs__icon {
  font-size: 1.2rem;
  color: var(--white-color);
}
.specs__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}
.specs__subtitle {
  font-size: var(--smaller-font-size);
}
.specs__img {
  width: 250px;
  position: absolute;
  top: 50%;
  right: -8rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media screen and (max-width: 319px) {
  .specs__img {
    width: 230px;
  }
}
@media screen and (min-width: 390px) {
  .specs__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .specs figure {
    justify-self: flex-start;
  }
  .specs__img {
    position: initial;
    top: 0;
    right: 0;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}
@media screen and (min-width: 576px) {
  .specs__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .specs figure {
    justify-self: flex-start;
  }
  .specs__img {
    position: initial;
    top: 0;
    right: 0;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
  .specs__data:first-child, .specs__data:last-child {
    margin-left: var(--mb-2);
  }
}
@media screen and (min-width: 768px) {
  .specs__img {
    width: 300px;
  }
}

.case__container {
  position: relative;
  grid-template-columns: 1fr 1.5fr;
}
.case__data {
  padding: 3rem 0 3rem;
}
.case__img {
  width: 250px;
  position: absolute;
  left: -9rem;
}
.case__description {
  margin-bottom: var(--mb-1-5);
  line-height: var(--text-line-height);
}
@media screen and (max-width: 319px) {
  .case__container {
    grid-template-columns: 0.6fr 1fr;
  }
  .case__img {
    width: 220px;
    top: -2rem;
  }
  .case__data {
    padding: 0;
  }
}
@media screen and (min-width: 480px) {
  .case__container {
    grid-template-columns: max-content 1fr;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .case figure {
    justify-self: flex-end;
  }
  .case__img {
    position: initial;
  }
}
@media screen and (min-width: 576px) {
  .case__container {
    grid-template-columns: max-content 250px;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
  }
  .case figure {
    justify-self: flex-end;
  }
  .case__img {
    position: initial;
  }
  .case__data {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .case__container {
    column-gap: 3rem;
  }
  .case__img {
    width: 300px;
  }
  .case__description {
    margin-bottom: var(--mb-2);
  }
}

.discount__container {
  position: relative;
  background-color: var(--container-color);
  padding: 2rem 1.5rem;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
}
.discount__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-75);
}
.discount__description {
  margin-bottom: var(--mb-1);
}
.discount__image {
  width: 300px;
  position: absolute;
  top: 4rem;
  right: -12rem;
}
@media screen and (min-width: 460px) {
  .discount__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .discount__image {
    position: initial;
  }
}
@media screen and (min-width: 576px) {
  .discount__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  .discount__image {
    position: initial;
  }
}
@media screen and (min-width: 768px) {
  .discount__container {
    grid-template-columns: 250px max-content;
    justify-content: center;
    column-gap: 2rem;
  }
  .discount__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1);
  }
  .discount__description {
    margin-bottom: var(--mb-1-5);
  }
}
@media screen and (min-width: 1024px) {
  .discount__container {
    padding: 3rem 1.5rem;
  }
  .discount__image {
    width: 350px;
  }
}

.products__line {
  line-height: 4rem;
}
.products__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 1.5rem;
  padding-top: 3rem;
}
.products__card {
  position: relative;
  background-color: var(--container-color);
  height: 132px;
  padding: 0.75rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  display: grid;
}
.products__image {
  width: 80px;
  position: absolute;
  inset: 0;
  margin: 0 auto;
  top: -3rem;
}
.products__content {
  align-self: flex-end;
}
.products__title, .products__price {
  font-size: var(--small-font-size);
}
.products__price {
  font-weight: var(--font-semi-bold);
}
.products__button {
  padding: 0.5rem;
  border-radius: 0.35rem;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  -ms-border-radius: 0.35rem;
  -o-border-radius: 0.35rem;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}
@media screen and (max-width: 319px) {
  .products__container {
    grid-template-columns: 142px;
    justify-content: center;
  }
}
@media screen and (min-width: 460px) {
  .products__container {
    grid-template-columns: repeat(2, 142px);
    justify-content: center;
  }
}
@media screen and (min-width: 576px) {
  .products__container {
    grid-template-columns: repeat(3, 142px);
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .products__container {
    grid-template-columns: repeat(3, 162px);
    gap: 5rem 3rem;
  }
  .products__card {
    height: 152px;
    padding: 1rem;
  }
  .products__image {
    width: 95px;
  }
}

.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}
.footer__logo {
  width: 2rem;
}
.footer__title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}
.footer__links {
  display: grid;
  row-gap: 0.5rem;
}
.footer__link {
  color: var(--text-color);
}
.footer__link:hover {
  color: var(--white-color);
}
.footer__form {
  display: flex;
  background-color: var(--container-color);
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin-bottom: var(--mb-2);
}
.footer__input {
  background-color: var(--container-color);
  width: 90%;
  margin-right: 0.5rem;
  color: var(--white-color);
}
.footer__input::placeholder {
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}
.footer__social {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  column-gap: 1.25rem;
}
.footer__social-link {
  display: inline-flex;
  padding: 0.5rem;
  color: var(--white-color);
  background-color: var(--container-color);
  font-size: 1.2rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}
.footer__social-link:hover {
  background-color: var(--black-color);
}
.footer__copy {
  text-align: center;
  margin-top: 2.5rem;
  font-size: var(--small-font-size);
  color: var(--text-color);
}
@media screen and (min-width: 576px) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    grid-template-columns: 0.2fr 0.5fr 0.5fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .footer__container {
    padding: 3rem 0;
  }
}

.scrollup {
  position: fixed;
  right: 1.5rem;
  bottom: -20%;
  background-color: var(--container-color);
  padding: 0.45rem;
  opacity: 9;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  display: flex;
  cursor: pointer;
}
.scrollup__icon {
  font-size: 1.35rem;
  color: var(--white-color);
}
.scrollup:hover {
  background-color: var(--black-color);
  opacity: 1;
}

.show-scrollup {
  bottom: 3rem;
}

/*# sourceMappingURL=styles.css.map */
