.section {
    padding: 4rem 0 2rem;

    &__title {
        font-size: var(--bigger-font-size);
        text-align: center;
        margin-bottom: var(--mb-2-5);

        &-gradient {
            background: var(--text-gradient);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }

        @include responsive(319, 1) {
            font-size: var(--big-font-size);
        }
    }
}

.main {
    overflow: hidden;
}

.container {
    max-width: 968px;
    margin: 0 var(--mb-1-5) 0;

    @include responsive(319, 1) {
        margin: 0 var(--mb-1) 0;
    }

    @include responsive(1024, 0) {
        margin: 0 auto;
    }
}

.grid {
    display: grid;
}
